.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#success {
	text-align: center;
}

#title {
	text-align: center;
	color: red
}

#success_explanation {
	text-align: center;
}

