<h1>Make a survey!</h1>

<form action="/create_survey" method="POST">

Survey Title: <input type="text" name="title">

	<input type="hidden" value="">
	<input type="submit" name="Submit this survey" value="submit this survey">
</form>