
<div class="create_survey_selector">
<h1>Make a survey!</h1>

<form id="new_survey" action="/create_survey" method="POST">

Survey Title: <input type="text" name="title">
Question1: <input type="text" name="question1">

	<input type="submit" name="Submit this survey">
</form>
</div>

