<h1>Make a survey!</h1>

<form action="/create_survey" method="POST">

Survey Title: <input type="text" name="title">

Question1: <input type="text" name="question1">
	<!-- what do we do here?
	where should we post to?
	how to display survey questions,  -->


	<input type="submit" name="Submit this survey">
</form>