
<h1>Make a Survey!</h1>

<form class="center makeasurvey" id="new_survey" action="/create_survey" method="POST">
  <input id="textfield" type="text" name="title" placeholder="SURVEY TITLE"><br>

<!-- HEAD
  	what do we do here?
  	where should we post to?
  	how to display survey questions, etc
=======
Survey Title: <input type="text" name="title"><br>
Question1: <input type="text" name="question1"><br>
>>>>>>> e9756ff96628ea04cf17cfac702ba0bae51dbd0b

  <input id="loginbutton" type="submit" name="Submit this survey" value="CONTINUE &#8594;"> -->

