<div class="container">
  <h1>Welcome to Survey Gorillator</h1>

  <form action="/log_in" method="POST">
  Email: <input type="text" name="email"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Log In">
  </form><br>
  <a href="/signup">Sign Up</a>
</div>


