<div id="success"><h2>You successfully created a survey called: </h2></div>
<div id="title"><h1><%= @survey.title %></h1></div>
<div id="success_explanation"><h2>You can now find your Survey in our list of surveys buy clicking on "Take Survey"... This part of our site doesn't make sense. Sorry :( </h2></div> 

