<h1>Survey Title Goes Here!</h1>

<form action="/submit_survey" method="POST">

	<!-- what do we do here?
	where should we post to?
	how to display survey questions,  -->


	<input type="submit" name="Submit this survey">
</form>