<div class="container">
  <h1>User Portal</h1>

  <a href="/survey_list">Take Survey</a><br>
  <a id="create_survey_link" href="/create_survey">Create Survey</a>


</div>

<div id="new_stuff">
</div>
